
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1675174399548/work
dash-bootstrap-components @ file:///home/conda/feedstock_root/build_artifacts/dash-bootstrap-components_1677548516611/work
dash-colorscales @ file:///home/conda/feedstock_root/build_artifacts/dash_colorscales_1593443621680/work
dash-core-components @ file:///home/conda/feedstock_root/build_artifacts/dash-core-components_1645162191927/work
dash-daq @ file:///home/conda/feedstock_root/build_artifacts/dash-daq_1596869611219/work
dash-html-components @ file:///home/conda/feedstock_root/build_artifacts/dash-html-components_1645162180756/work
dash-table @ file:///home/conda/feedstock_root/build_artifacts/dash-table_1645162199872/work
numpy @ file:///C:/b/abs_datssh7cer/croot/numpy_and_numpy_base_1672336199388/work
pandas @ file:///C:/b/abs_c6fuezktfm/croot/pandas_1670425103552/work
plotly @ file:///C:/ci/plotly_1658160673416/work
plotly-express==0.4.1
dash==2.14.2
plotly==5.18.0
pandas==1.5.3
gunicorn==20.1.0
