@font-face {
    font-family: Acumin;
    font-weight: bold;
    src: url("Acumin-BdPro.otf") format("opentype");
}

#app-container {
    width: 100%;
    max-width: none;
}

body {
    background-color: #f9f9f9;
    color: #333333;
    font-size: 15px;
    margin: 0px;
}

.Select-control {
    background-color: #d9c47a !important;
    color:black;
  }
  
.Select-menu-outer {
    background-color: #d9c47a;
    color: #000;
}

.Select-value-label {
    color: #000 !important;
}

#Dropdown_Session .Select-control {
    background-color: #f1abc9 !important;
    color:black;
  }
  
#Dropdown_Session .Select-menu-outer {
    background-color: #f1abc9;
    color: black;
}

#Dropdown_Session .Select-value-label {
    color: black !important;
}

.banner {
    height: 5.5rem;
    padding: 0rem 2rem 0rem;
    background-color: #003561;
    color:#FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: solid #FFFFFF;
}

.banner Img {
    position: relative;
    height: 3rem;
    width: auto;
    margin-left: 2%;
}

#content-body {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    width: 100%;
}

#control-card h5, h4 {
    text-align: center;
    color: #FFFFFF;
    /* background-color: rgb(236, 220, 162); */
}

#control-card {
    padding: 2rem;
    background-color: #003561;
}

/* Date picker */
#date-picker-select .DateRangePicker {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
    position: relative;
    display: inline-block;
    width:100%;
    background-color: #d9c47a;
  }

#date-picker-select .DateInput_input, .DateInput_input_1 {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
    text-align: center;
    Height: 34px !important;
    Width: 100% !important;
    padding-left: 3px !important;
    padding-right: 3px !important;  
    font-size: 0.9em;
    color: #333 !important;
    background-color: #d9c47a;
  }
  
#date-picker-select .DateRangePickerInput__withBorder {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
    background-color: #d9c47a;;
    border-radius: 1px;
    border: 1px solid #ccc;
    color: #333;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    overflow: hidden;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    width:100%;
    text-align: center;
  }

#analysis-card h5, h4 {
    text-align: center;
    color: #003561;
}

#analysis-card {
    background-color: #FFFFFF;
    padding: 2rem;  
}

#title-analysis-card{
    display: flex;
    flex: auto;
    justify-content: center;
}

#indicator-card{
    display: flex;
    flex: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: space-around;
    border-bottom: 1px solid #003561;
    padding-bottom: 1rem;
}

#title-indicator-card{
    display: flex;
    flex: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: space-around;
    border-top: 1px solid #003561;
    padding-top: 1rem;
}

#phases-prices-card{    
    display: grid;
    grid-template-columns: 2fr 2fr; 
    padding-left: 2rem;
    align-items: center; 
    justify-content: center;
}

#restau-card{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

#filter-restau-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; 
    /* padding-left: 2rem; */
    padding: 1rem;
    gap: 2rem;
    justify-content: center;
    border-top: solid 1px #003561;
    border-bottom: solid 1px #003561;
}

#Dropdown_TypeRestau .Select-control {
    background-color: #fff !important;
    color:black;
  }
  
#Dropdown_TypeRestau .Select-menu-outer {
    background-color: #fff;
    color: black;
}

#Dropdown_TypeRestau .Select-value-label {
    color: black !important;
}

#Dropdown_TypeRestau .Select-value {
    background-color: #d9c47a;
    color: white;
    }

#RangeSlider_Distance .rc-slider-track {
    background-color: #d9c47a;
  }

#analysis-restau-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; 
    padding-left: 2rem;
    gap: 2rem;
}

#control-card > p {
    font-weight: bold;
}

#Dropdown_Discipline {
    width: 300px;
}

#Dropdown_Epreuve {
    width: 300px;
}

#Dropdown_Session{
    width: 250px;
}

#RangeSlider_Distance{
    width: 550px;
}

#Dropdown_TypeRestau{
    width: 700px;
}

#RangeSlider_Div {
    display: flex;
    padding-left: 20px;
    justify-content: center;
}






/*
  ##Device = Most of the Smartphones Mobiles / ipad (Portrait)
  */

@media only screen and (max-width: 750px), screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        font-size: 13px;
        margin: 0px;
    }

    .banner {
        height: 6rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    #intro {
        margin: 10px 0px;
    }

    #left-column, #right-column {
        width: 100%;
        margin-left: 0px;
    }

    #right-column {
        padding: 0rem 0.5rem;
    }

    #reset-btn-outer {
        text-align: center;
    }

    .table-row > div {
        width: 100% !important;
        text-align: center;
        margin: auto;
    }

    .table-row:nth-child(even), .table-row:nth-child(odd) {
        background-color: #FFFFFF;
    }

    #header {
        display: none;
    }

    #wait_time_table:after {
        content: "";
        display: table;
        clear: both;
    }

    #patient_volume_card > b, #wait_time_card > b {
        line-height: 2.5;
        font-size: 13px;
        display: block;
        text-align: center;
    }

    .annotation-text {
        font-size: 0.8rem !important;
    }

}